// Home Page
body#home {
	header {
		text-align: center;

		#logo {
			margin: 100px 0 40px;
		}
	}

	h2#description {
		color: #35363B;
		font-family: HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 22px;
		font-weight: normal;
		line-height: 32px;
		opacity: 0;
		text-align: center;
	}

	span#recipients,
	span#apps,
	span#frequency {
		border-bottom: 1px dashed #C6D1D9;
		font-weight: bold;
	}

	.benefit {
		h2 {
			color: #35363B;
			font-family: HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
			font-size: 22px;
			font-weight: bold;
			line-height: 32px;
			margin-top: 50px;
		}

		p, ul {
			color: #656771;
			font-family: HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
			font-size: 19px;
			font-weight: normal;
			line-height: 32px;
			margin-top: 4px;
		}

		ul {
			list-style-type: square;

			li {
				margin-left: 20px;
			}
		}

		&#last_benefit {
			margin-bottom: 80px;
		}
	}
}