// Home Page

#home {
  background-color: #3990e1;
}

header, #headlines, #graph {
  text-align: center;
}

#logo {
  margin-top: 40px;
}
h1#logo {
  background: url(../images/logo.png) no-repeat;
  background-size: 100%;
  height: 27px;
  width: 200px;
  text-indent: -9999px;
  display: inline-block;
}

.section {
  padding: 40px;
  &.first-highlight {
    background: #fff;
  }
  &.second-highlight {
    background: #f8f8f8;
  }
}

#headlines {
  text-align: center;
  margin: 40px 0px;

  h2 {
    font-family: "brandon-grotesque", HelveticaNeue, Helvetica, Arial, sans-serif;
    font-size: 52px;
    line-height: 56px;
    letter-spacing: -2px;
    font-weight: 700;
    color: #fff;
    margin: 0;
  }

  h4 {
    font-family: "brandon-grotesque", HelveticaNeue, Helvetica, Arial, sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 42px;
    color: #98c3ea;
    letter-spacing: -1px;

    a {
      color: #98c3ea;
    }
  }
}

#graph_headline h3 {
  font-family: "brandon-grotesque", HelveticaNeue, Helvetica, Arial, sans-serif;
  font-size: 38px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: -1px;
  color: #99ceff;
  margin-bottom: 4px;
  text-align: center;
}

#graph {
  //background: url(../images/growth-tracker-graph.png) center bottom no-repeat;
  //background-size: 100%;
  img {
    margin-bottom: -8px;
  }
}

#sign_up_form {
  background-color: #76b2ea;
  border-radius: 2px;
  border: none;
  margin-bottom: 45px;
  padding: 10px;

  form {
    height: 58px;
  }

  input[type="text"] {
    padding: 10px 15px;
    width: 70%;
    font-size: 23px;
    font-weight: 200;
    border-radius: 2px;
    border: none;
    outline: none;
    font-family: "brandon-grotesque", HelveticaNeue, Helvetica, Arial, sans-serif;
    color: #3990e1;
  }

  input[type="submit"] {
    color: #fff;
    background-color: #83d248;
    border-radius: 2px;
    font-size: 18px;
    padding: 17px 0;
    width: 26%;
    border: 1px solid #7aad29;
    margin: 0;
    display: inline;
    cursor: pointer;
    outline: none;
    &:hover {
      background-color: lighten(#83d248, 5%);
    }
  }
}

#faqs_left, #faqs_right {
  font-family: "brandon-grotesque", HelveticaNeue, Helvetica, Arial, sans-serif;
}

dt {
  font-size: 24px;
  line-height: 28px;
  color: #f7f7f7;
  letter-spacing: -1px;
  margin-bottom: 5px;
}

dd {
  font-size: 22px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -1px;
  color: #ADD0F0;
  margin-bottom: 30px;

  p {
    margin-bottom: 20px;
  }
}

table {
  margin-bottom: 20px;
}
th, td {
  padding: 5px 10px;
  border: 1px solid #99ceff;
}
th {
  color: #f7f7f7;
}
td {
  font-size: 20px;
  line-height: 24px;
}

table th {
  font-weight: bold;
}

ul {
  list-style-type: square;
  margin-left: 30px;
  font-size: 20px;
  line-height: 20px;
}

#footer {

  p, a {
    font-family: "brandon-grotesque", HelveticaNeue, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: #99ceff;
    margin: 20px 0px 20px
  }
}