// Home Page

#home {
  background-color: #3990e1;
}

header, #headlines, #graph {
  text-align: center;
}

#logo {
  margin-top: 40px;
}
h1#logo {
  background-color: #000;
  color: #fff;
  padding: 10px 30px;
  display: inline-block;
}

#headlines {
  text-align: center;
  margin: 40px 0px;

  h2 {
    font-family: "brandon-grotesque", HelveticaNeue, Helvetica, Arial, sans-serif;
    font-size: 52px;
    line-height: 56px;
    letter-spacing: -2px;
    font-weight: 700;
    color: #fff;
  }

  h4 {
    font-family: "brandon-grotesque", HelveticaNeue, Helvetica, Arial, sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 42px;
    color: #98c3ea;
    letter-spacing: -1px;

    a {
      color: #98c3ea;
    }
  }
}

#graph_headline h3 {
  font-family: "brandon-grotesque", HelveticaNeue, Helvetica, Arial, sans-serif;
  font-size: 38px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: -1px;
  color: #99ceff;
  margin-bottom: 4px;
  text-align: center;
}

#graph img {
  margin-bottom: 40px;
}

#sign_up_form {
  background-color: #76b2ea;
  border-radius: 2px;
  border: none;
  margin-bottom: 90px;

  input[type="text"] {
    padding: 10px 20px;
    width: 629px;
    font-size: 17px;
    border-radius: 2px;
    border: none;
    margin: 10px 10px 10px 10px;
  }

  input[type="submit"] {
    color: #fff;
    background-color: #83d248;
    border-radius: 2px;
    font-size: 18px;
    padding: 10px 20px;
    width: 200px;
    border: 1px solid #7aad29;
    margin: 10px 10px 10px 0px;
    display: inline;
    cursor: pointer;

    &:hover {
      opacity:0.85;
    }
  }
}

#faqs_left, #faqs_right {
  font-family: "brandon-grotesque", HelveticaNeue, Helvetica, Arial, sans-serif;
}

dt {
  font-size: 24px;
  line-height: 28px;
  color: #f7f7f7;
  letter-spacing: -1px;
  margin-bottom: 5px;
}

dd {
  font-size: 22px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -1px;
  color: #ADD0F0;
  margin-bottom: 30px;

  p {
    margin-bottom: 20px;
  }
}

table {
  margin-bottom: 20px;
}
th, td {
  padding: 5px 10px;
  border: 1px solid #99ceff;
}
th {
  color: #f7f7f7;
}
td {
  font-size: 20px;
  line-height: 24px;
}

table th {
  font-weight: bold;
}

ul {
  list-style-type: square;
  margin-left: 30px;
  font-size: 20px;
  line-height: 20px;
}

#growth_tracker_explained {
  background-color: #111;
  border-radius: 2px;
  padding: 20px;
}

#footer {
  border-top: solid 1px #99ceff;
  margin-top: 40px;

  p, a {
    font-family: "brandon-grotesque", HelveticaNeue, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: #99ceff;
    margin: 10px 0px 30px
  }
}